/* Importing fonts */
@font-face {
  font-family: 'Outfit';
  src: url('./fonts/outfit.ttf');
}

/* Variables */
:root {
  --primary: #1a2b33;
  --secondary: #1e3640;
  --grey: #a9bec8;
  --dark-cyan: #34c3be;
  --lighten-yellow: #f2b138;
  --white: #fffbfb;
}

/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Outfit', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--white);
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Disable text selection */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* Game-Initializer */

.game-initializer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Game-Initializer Header */

.game-initializer header {
  width: 85%;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.game-initializer main {
  width: 70%;
}

/* Game-Initializer Options */

.game-initializer__options {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 500px));
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

/* Game Initializer Player */

.game-initializer__options .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding-bottom: 20px;
}

/* Options Player Symbol */

.player .player__symbol {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.player__symbol img {
  width: 40px;
}

/* Options Player Icon */

.player .player__icon {
  margin-top: 10px;
}

/* Options Player Type-Selector */

.player__type-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  background: var(--secondary);
  position: relative;
  margin-bottom: 20px;
}

.player__type-selector input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
  position: absolute;
  width: 50%;
  height: 100%;
}

.player__type-selector input[type='radio']:first-of-type {
  left: 0;
}

.player__type-selector input[type='radio']:last-of-type {
  right: 0;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey);
  cursor: pointer;
  font-style: italic;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.player__type-selector input[type='radio']:checked + label {
  background-color: var(--grey);
  color: var(--primary);
}

/* Options Start-Game */

.game-initializer__start {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.start-game-btn {
  width: 35%;
  height: 64px;
  padding-bottom: 5px;
  background-color: var(--lighten-yellow);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
